# This is an example of a .env file for the project.

# You will need at least one model API key to run the project.
OPENAI_API_KEY=
GEMINI_API_KEY=

# OPTIONAL
# If you want to use the following features, please set the corresponding API keys.
TAVILY_API_KEY=
DUCKDUCK_GO_API_KEY=
BRAVE_SEARCH_API_KEY=
